<!DOCTYPE html>
<html>
  <head>
    <title>Book store</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Book store</h1>
    <p>Welcome to Mypage</p>
<a/href="/">Home</a>
  </body>
</html>
